@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap");

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f6f6f6;
  font-family: "Yeon Sung", system-ui;
  /* font-family: "Nanum Pen Script", cursive; */
}
.App {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

.App > img {
  width: 100px;
}

@media (min-width: 651px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* button */

.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  white-space: nowrap;
  font-family: "Nanum Pen Script";
}

.MyButton_default {
  background-color: #ececec;
  color: black;
}

.MyButton_positive {
  background-color: #4caf50;
  color: white;
}

.MyButton_negative {
  background-color: #fd565f;
  color: white;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
  padding: 20px;
}

header .header_text {
  font-size: 25px;
}

/* DiaryList */

.menu_wrapper {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.controlMenu {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ececec;
  cursor: pointer;
  font-family: "Nanum Pen Script";
  font-size: 18px;
}
.right_col {
  flex-grow: 1; /*속성이 남는 행 여백을 분배해서 채움*/
}

.right_col button {
  width: 100%;
}

/* DiaryItem img*/
.diaryItem {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
}

.diaryItem .emotionImg {
  min-width: 120px;
  height: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.diaryItem .emotionImg_1 {
  background-color: #64c964;
}

.diaryItem .emotionImg_2 {
  background-color: #9dd77e;
}

.diaryItem .emotionImg_3 {
  background-color: #fdce17;
}

.diaryItem .emotionImg_4 {
  background-color: #fd8446;
}

.diaryItem .emotionImg_5 {
  background-color: #fd565f;
}

.diaryItem .emotionImg img {
  width: 70%;
}

/* DiaryItem content*/
.itemcontent {
  margin-left: 20px;
  flex-grow: 1;
  cursor: pointer;
}

.diarydate {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.diarycontent {
  font-size: 18px;
}

.editbtn {
  min-width: 70px;
}

/* newpage*/

.diaryEditor section {
  margin-bottom: 40px;
}

.diaryEditor h4 {
  font-size: 22px;
  font-weight: bold;
}

.inputbox input {
  padding: 10px 20px;
  background-color: #ececec;
  border: none;
  border-radius: 5px;
  font-family: "Nanum Pen Script";
  min-width: 100px;
  font-size: 20px;
}

.emotionItem {
  cursor: pointer;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emotionListWrapper {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 2%;
}

.emotionItem img {
  width: 50%;
  margin-bottom: 10px;
}

.emotionItem span {
  font-size: 18px;
}

.emotionItemOff{
  background-color: #ececec;
}

.emotionItemOn_1 {
  background-color: #64c964;
}

.emotionItemOn_2 {
  background-color: #9dd77e;
}

.emotionItemOn_3 {
  background-color: #fdce17;
}

.emotionItemOn_4 {
  background-color: #fd8446;
}

.emotionItemOn_5 {
  background-color: #fd565f;
}

/* newpage-textarea */

textarea{
 box-sizing: border-box;
 width: 100%;
 min-height: 250px;
 background-color: #ececec;
 border: none;
 border-radius: 5px;
 resize: none;
 font-family: "Yeon Sung", system-ui;
 font-size: 20px;
 padding: 10px 20px;
}

.buttonBox{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

/*DiaryPage*/

.DiaryPageMain section{
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.DiaryPageMain h4{
  font-size: 20px;
}

.DiaryPage_imgBox{
  width: 35%;
  border-radius: 5px;
}

.DiaryPage_imgBox p{
  margin-top: 0;
  margin-bottom: 10px;
  color: white;
  font-size: 25px;
}

.DiaryPage_imgBox_1{
  background-color: #64c964;
}

.DiaryPage_imgBox_2{
  background-color: #9dd77e;
}

.DiaryPage_imgBox_3{
  background-color: #fdce17;
}

.DiaryPage_imgBox_4{
  background-color: #fd8446;
}

.DiaryPage_imgBox_5{
  background-color: #fd565f;
}